![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [62]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [63]:
best_math_schools = schools[schools['average_math']>=(800*.80)].sort_values(by='average_math'
                                                                            ,ascending=False)
best_math_schools = best_math_schools[['school_name','average_math']]

#best_math_schools.head()

In [64]:
schools['total_SAT']=schools.iloc[:, -4:-1].sum(axis=1)

In [65]:
top_10_schools=schools[['school_name','total_SAT']].sort_values(by='total_SAT',ascending=False).head(10)

In [66]:
#top_10_schools

In [67]:
ll = schools.groupby('borough')['total_SAT'].std().sort_values(ascending=False).nlargest(1)
list(ll.index)

primary = schools[schools['borough'].isin(list(ll.index))]

In [68]:
#primary.groupby('borough')['school_name'].count()

In [69]:
largest_std_dev = primary.groupby('borough').agg(
    num_schools=('school_name', 'count'),
    average_SAT=('total_SAT', 'mean'),
    std_SAT=('total_SAT','std')
).round(2)

In [70]:
#largest_std_dev